# You can find accountId, databaseId and token in Cloudflare dashboard.

# To get accountId go to Workers & Pages -> Overview -> copy Account ID from the right sidebar.
# To get databaseId open D1 database you want to connect to and copy Database ID.
# To get token go to My profile -> API Tokens and create token with D1 edit permissions.
# After you have configured drizzle.config.ts file, Drizzle Kit lets you run migrate, push, introspect and studio commands using Cloudflare D1 HTTP API.

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PUBLIC_BASE_URL=https://zola-bucket.axyl.io.vn

# If you haven't created OAuth credentials yet, follow these step-by-step instructions:

# Open Google Cloud Console → APIs & Services → Credentials
# Click Create Credentials → OAuth client ID
# Choose Web application
# Add your redirect URIs:
# http://localhost:3000/api/auth/callback/google (for local development)
# https://your-domain.com/api/auth/callback/google (for production)
# Copy the Client ID and Client Secret into your environment variables
# These steps avoid common issues such as redirect_uri_mismatch.

GOOGLE_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

ENVIRONMENT=development # development for local development
